# Sphinx core
sphinx>=7.0

# Theme (même que healpix-geo, numpy, scipy)
pydata-sphinx-theme>=0.15

# Markdown + notebooks Jupyter
myst-nb>=1.0

# Automatic API generation from source (parse uniquement, pas d'import)
sphinx-autoapi>=3.0

# Extensions utiles
sphinx-design>=0.5
